.sidebar-link,a.sidebar-link{
    background:#222e3c;border-left:3px solid transparent;
    color:rgba(233,236,239,.5);
    cursor:pointer;
    display:block;
    font-weight:400;
    padding:.625rem 1.625rem;
    position:relative;
    text-decoration:none;
    transition:background .1s ease-in-out}

.sidebar-link i,.sidebar-link svg,a.sidebar-link i,
a.sidebar-link svg{color:rgba(233,236,239,.5);margin-right:.75rem}
.sidebar-link:focus{outline:0}.sidebar-link:hover{background:#222e3c;border-left-color:transparent}
.sidebar-link:hover,.sidebar-link:hover i,.sidebar-link:hover svg{color:rgba(233,236,239,.75)}.sidebar-item.active .sidebar-link:hover,.sidebar-item.active>
.sidebar-link{background:linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.088) 50%,transparent);border-left-color:#3b7ddd;color:#e9ecef}
.sidebar-item.active .sidebar-link:hover i,.sidebar-item.active .sidebar-link:hover svg,.sidebar-item.active>.sidebar-link i,.sidebar-item.active>.sidebar-link svg{color:#e9ecef}