table td {
    padding: 0;
    border: none;
    vertical-align: middle; /* Asegura que el contenido se centre verticalmente en la celda */
}

.custom-image-container {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover; /* Cambio de 'contain' a 'cover' para asegurarse de que la imagen llene el contenedor */
    background-repeat: no-repeat;
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    margin: auto;
}

/*
.tamano-tabla-slogan {
    width: 65%;
}
*/

/*.tamano-tabla-acciones {
    width: 120px;
}
*/

.custom-flex-auto {
    flex: auto;
}

/* Estilos para la tabla con anchos fijos */
.table-fixed-width {
    width: 100%;
}

.table-fixed-width tr {
    min-height: 130px;
}

.col-n {
    width: 5%;
}

.col-foto {
    width: 10%;
}

.col-nombre {
    width: 30%;
}

.col-rango {
    width: 45%;
}

.col-acciones {
    width: 30%;
}


/* Estilos para sitios */
.col-nsitios {
    width: 5%;
}

.col-fotositios {
    width: 10%;
}

.col-nombresitios {
    width: 28%;
}

.col-rangositios {
    width: 42%;
}

.col-accionessitios {
    width: 35%;
}
/* Estilos para sitios */


/* Estilos para usuarios */
.col-nusuarios{
    width: 5%;
}

.col-fotousuarios{
    width: 10%;
}

.col-nombreusuarios{
    width: 13%;
}

.col-apellidosusuarios{
    width: 16%;
}

.col-correousuarios{
    width: 19%;
}

.col-rangousuarios{
    width: 13%;
}

.col-empresausuarios{
    width: 11%;
}

.col-accionesusuarios{
    width: 13%;
}
/* Estilos para usuarios */


/* Estilos para la tabla de ADMINISTRADOR - SITIOS */
.col-numero {
    width: 5%;
}

.col-fotito {
    width: 10%;
}

.col-nombresito {
    width: 30%;
}

.col-descripcion {
    width: 45%;
}

.col-accionesgod {
    width: 30%;
}

/* Estilos para usuarios normales desde superadmin*/
.col-nusuariossuperadmin{
    width: 5%;
}

.col-fotousuariossuperadmin{
    width: 10%;
}

.col-nombreusuariossuperadmin{
    width: 15%;
}

.col-apellidosusuariossuperadmin{
    width: 18%;
}

.col-correousuariossuperadmin{
    width: 22%;
}

.col-rangousuariossuperadmin{
    width: 15%;
}

.col-empresausuariossuperadmin{
    width: 13%;
}

/* Estilos para usuarios normales desde superadmin*/


.custom-dropdown {
    appearance: none; /* Elimina el estilo predeterminado en navegadores modernos */
    -webkit-appearance: none; /* Para Safari y Chrome */
    -moz-appearance: none; /* Para Firefox */
    background-color: transparent; /* Fondo transparente */
    background-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23A9A9A9" viewBox="0 0 16 16"><path d="M7.646 8.354a.5.5 0 0 0 .708 0L11.293 5.415a.5.5 0 0 0-.708-.708L8 7.293 4.415 4.707a.5.5 0 0 0-.708.708l2.939 2.939z"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-right: 2rem; /* Espacio para la flecha */
    border: 1px solid #ced4da; /* Bordes similares a Bootstrap */
    border-radius: 0.25rem; /* Radio de esquinas similar a Bootstrap */
    font-size: 1rem;
    height: calc(2.25rem + 2px);
}

/*no debe verse una doble flecha, debe verse una flecha hacia abajo nomas, y no de un color negro tan grueso, sino de uno un poc más suave*/

.circular-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;  /* Esto asegura que la imagen cubra todo el espacio sin deformarse */
}

table.table-responsive{
    display: inline-table;
}
